<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/home.css">
    <title>HOME</title>
</head>
<body>
<div class="back">
    <h1>Learning management system </h1>
  <div class="image">  <img src="https://us.123rf.com/450wm/rawpixel/rawpixel1603/rawpixel160308149/53554297-learn-learning-education-knowledge-wisdom-studying-concept.jpg?ver=6" alt="notfound"></div>
  <br>
 <div>
    <button class="button"><a href="/register">Sign up!!</a></button>
    
    <button class="button"><a href="/login">Login</a></button>
    
   
 </div>

</div>

    
</body>
</html>